extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.home
				.container
					.home__row
						.home__links
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('magnifying-glass')
								.home__link-info
									.home__link-title PartSearch
									.home__link-descritpion Поиск по бренду и модели
								.home__link-icon
									+svg('chevron-right')
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('magnifying-glass')
								.home__link-info
									.home__link-title TypeProductSearch
									.home__link-descritpion Поиск по типу товара
								.home__link-icon
									+svg('chevron-right')
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('magnifying-glass')
								.home__link-info
									.home__link-title SearchMyLoader
									.home__link-descritpion Поиск помои машинам
								.home__link-icon
									+svg('chevron-right')
						.home__warehouse
							.home__warehouse-bg
								+picture({
									path: `${baseDir}assets/images/home/warehouse`,
									ext: 'jpg',
								})
							.home__warehouse-content
								.home__warehouse-title Склад в СПБ
								.home__warehouse-descritpion Список аксессуаров в наличии на складе в спб
								a.button.button__primary(href="#") Посмотреть
							.home__warehouse-icon
								+svg('warehouse-management')
					.home__brands
						.swiper
							.swiper-wrapper
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
								.swiper-slide
									.home__brands-item
										+picture({
											path: `${baseDir}assets/images/vendors/still`,
											ext: 'png',
										})
					.home__row
						.home__news
							.home__news-bg
								+picture({
									path: `${baseDir}assets/images/home/warehouse`,
									ext: 'jpg',
								})
							.home__news-content
								.home__news-title Новости
								a.button.button__primary(href="#") Посмотреть
						.home__video
							.home__video-bg
								+picture({
									path: `${baseDir}assets/images/home/warehouse`,
									ext: 'jpg',
								})
							a.home__video-play(href="#")
								+svg("play")
			+footer()
