extends @pug/base

append globals
	- pageName = 'home'

append vars

block content
	+router(pageName)
		.site
			include @components/header/header
			main.home
				.container
					.home__row
						.home__links
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('magnifying-glass')
								.home__link-info
									.home__link-title PartSearch
									.home__link-descritpion Поиск по бренду и модели
								.home__link-icon
									+svg('chevron-right')
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('sliders')
								.home__link-info
									.home__link-title TypeProductSearch
									.home__link-descritpion Поиск по типу товара
								.home__link-icon
									+svg('chevron-right')
							a.home__link(href="#")
								.home__link-icon-bg
									+svg('truck')
								.home__link-info
									.home__link-title SearchMyLoader
									.home__link-descritpion Поиск по моим машинам
								.home__link-icon
									+svg('chevron-right')
						.home__warehouse
							.home__warehouse-bg
								+picture({
									path: `${baseDir}assets/images/home/warehouse`,
									ext: 'jpg',
								})
							.home__warehouse-content
								.home__warehouse-title Объединенная система складов
								.home__warehouse-icon
									+svg('warehouse-management')
								.home__warehouse-descritpion Каталог товаров в наличии на складах в России
								a.button.button__primary(href="#") Посмотреть

					.home__brands
						.swiper
							.swiper-wrapper
								each name in ["sany", "anderson", "atlet", "baumann", "bobcat", "bosch", "bt", "caterpillar", "clark", "combilift", "crown", "cummnis", "cvs_ferrrari", "dalian", "deutz", "donaldson", "doosan", "fantuzzi", "hangcha", "heli", "hyster", "hysterold", "hyundai", "impco", "isuzu", "jac", "jcb", "jungheinrich", "kalmar", "komatsu", "konecranes", "kubota", "linde", "loaderpro", "lovato", "manitou", "maximal", "merlo", "mitsubishi", "mustang", "nichiyu", "nissan", "noblelift", "om_pimespo", "perkins", "rader_vogel", "rema", "schaltbau", "sennebogen", "still", "tcm", "terberg", "terex", "toyota", "tvh", "tvhold", "unicarriers", "yale", "yanmar"]
									.swiper-slide
										.home__brands-item
											+picture({
												path: `${baseDir}assets/images/vendors/${name}`,
												ext: 'png',
											})
					.home__row
						.home__news
							.home__news-bg
								+picture({
									path: `${baseDir}assets/images/home/news`,
									ext: 'jpg',
								})
							.home__news-content
								.home__news-title Новости
								a.button.button__primary(href="#") Посмотреть
						.home__video
							.home__video-bg
								+picture({
									path: `${baseDir}assets/images/home/video`,
									ext: 'jpg',
								})
							a.home__video-play(href="#")
								+svg("play")
			+footer()
